# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Local database file
database/database.json

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# PyTorch cache
.cache/